<div class="font_family">
  <%= simple_form_for [@post, Comment.new] do |f| %>
      <%= f.text_field :description, class: "form_control" %>
      <%= f.button :submit, class: 'btn btn-primary'%>
  <% end %>
</div>