<div class="font_family">
  <h2>About me is awesome!!!</h2>
  <h3>Anoob K bava</h3>
  <h3>Ruby Software Engineer</h3>
  <h3>Technopark</h3>
  <h3>anoob.bava@gmail.com</h3>
  <%=image_tag 'profile.jpg',class: "img-responsive img-circle"%>
</div>