<nav class='sidebar sidebar-menu-collapsed'>
  <ul>
    <li class='active'>
      <%=link_to root_path do %>
        <span class='glyphicon glyphicon-home collapsed-element'></span>
      <% end %>
    </li>
    <li>
      <a href="https://twitter.com/anoobkbava"><i class="fa fa-twitter"></i></a>
    </li>
    <li>
     <a href="https://www.facebook.com/anoob.bava"><i class="fa fa-facebook"></i></a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/anoob-k-bava-676b3337?trk=hp-identity-name"><i class="fa fa-linkedin"></i></a>
    </li>
    <li>
      <a href="http://stackoverflow.com/users/5023291/anoob-k-bava"><i class="fa fa-stack-overflow"></i></a>
    </li>
    <li>
      <a href="https://anoobbava.wordpress.com/"><i class="fa fa-wordpress"></i></a>
    </li>
    <li>
      <a class='expandable' href='#' title='Account'>
        <span class='glyphicon glyphicon-user collapsed-element'></span>
        <span class='expanded-element'>Account</span>
      </a>
    </li>
  </ul>
  <%=link_to 'log out', destroy_user_session_path, method: :delete%> 
  <!-- <a href='#' id='logout-icon' title='Logout'>
    <span class='glyphicon glyphicon-off'></span>
  </a> -->
</nav>